<div class="panel h-full">
    <div class="flex h-full">
        <div class="w-1/4 p-4 border-r">
            <h3 class="mb-4 font-semibold">Users</h3>
            <ul>
                <li *ngFor="let user of chatUsers" (click)="selectUser(user)" class="cursor-pointer hover:text-primary">
                    {{ user.name }}
                </li>
            </ul>
        </div>
        <div class="w-3/4 p-4 flex flex-col">
            <div class="flex-1 overflow-y-auto mb-4">
                <div *ngFor="let msg of messages">
                    <div><strong>{{ msg.sender }}</strong>: {{ msg.content }}</div>
                </div>
            </div>
            <div class="flex items-center">
                <input type="text" [(ngModel)]="newMessage" placeholder="Type a message..." class="form-input flex-1" />
                <button class="btn btn-primary ml-2" (click)="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</div>
